* {
    padding: 0px;
    margin: 0px;
    font-family: montserrat, sans-serif;

}

body.index{
    background-image: url(./media/backgroundImage.png);
    background-size: cover;
    background-repeat: no-repeat;
}

body.error{
    background-color: white;

}

.error div{
    background-color: grey;
}

html {
    height: 100%;
}

.notFound{
    background-color: white;
}


div.navbar {
    width: 100%;
    position: sticky;
}

div.navbar::after {
    content: "";
    background-color: white;
    opacity: 53%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items:center;   
    justify-content: center; 
    
}

img.navLogo {
    max-width: 54px;
    max-height: 44px;
    display: inline-flex;
    padding-top: 0px;
}

ul.nav {
    display: inline-flex;
    padding: 0px;
    align-self: center;
    width: 100%;
    opacity: 100%;
    font-weight: 700;

}

li.navItem {
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    align-items: center;
    font-size: 20px;
}

li.navImage {
    padding: left 74px;
}

li.ctaButton {
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    align-items: center;
    font-size: 20px;
}

h1.title {
    font-size: 100px;
    font-weight: 700px;
    color: #AA8C2C;
    text-shadow: 0 6px 5px rgba(0,0,0,0.39);
    margin-bottom: -20px;
    
    
}

h3.subtitle{
    font-size: 40px;
    color: white;
    font-weight: 350px;
    padding:0px;
}

div.guideArrow {
    bottom:0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items:center;   
    justify-content: center; 
}
img.guideArrow  {
    position: relative;
    display: block;
    float: left;
    margin: 10px;
}

div.body{
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 100%;
}
